{% extends 'navbar_footer.html' %}

{% load static %}

{% block titre %} Présentation {% endblock %}

{% block contenu %}

    <div class="container">
        <div class="jumbotron">
              <h1 class="display-4">Qui suis je ?</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam amet architecto
                  atque cumque delectus distinctio eum, eveniet illum in iste, magni obcaecati quasi quibusdam quidem reiciendis
                  repellendus, sequi similique.</p>
              <hr class="my-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam, consequatur cum, delectus dolorem
                  expedita itaque placeat qui totam ullam, unde? Autem fuga nisi non praesentium sed veritatis voluptates!</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'experiences:experiences' %}" role="button">Articles</a>
              </p>
        </div>
    </div>

<hr class="my-4">

<div class="container">
    <div class="row">
        <div class="col-lg mb-4">
            <img class="w-100" src="{% get_media_prefix %}beach.jpg" alt="Image de blog">
        </div>
        <div class="col-lg text-justify">
            <h2>Mes Aventures</h2>
            <hr class="my-4">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis deleniti facilis magni
                perspiciatis rem sed similique tenetur ut vero. Aut beatae ipsum non nostrum officia placeat
                praesentium quis, quod?
            </p>
        </div>
    </div>
</div>


{% endblock %}
