{% extends 'navbar_footer.html' %}

{% load static %}

{% block titre %} Présentation {% endblock %}

{% block contenu %}

    <div class="container">
        <div class="jumbotron">
              <h1 class="display-4">Qui suis je ?</h1>
              <p class="lead">Après 15 ans d'expérience en force de vente essentiellement acquise en Café, Hotel,
                  Restaurant (CHR).Ce qui m'a permis d'acquérir une forte experience en relation client, un sens
              développé du contact client et d'une pugnacité à toute épreuve. J'ai décidé de me reconvertir pour revenir
              à mon premier amour l'informatique.</p>
              <hr class="my-4">
              <p> J'ai donc décidé de suivre une formation Microsoft by Simplon pour devenir développeur Intelligence
                  Artificielle Passionné d’informatique depuis ma tendre enfance, j’ai décidé de changer totalement de métier pour
                  revenir à mon premier amour, l’informatique. Mon appétence pour chercher le point-virgule qui s’est
                  méchamment insérée à la place de la virgule dans un code de 500 lignes, fait de moi un professionnel
                  consciencieux ayant une motivation à toute épreuve.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'experiences:experiences' %}" role="button">Expériences</a>
              </p>
        </div>
    </div>

<hr class="my-4">

<div class="container">
    <div class="row">
        <div class="col-lg mb-4">
            <img class="w-100" src="{% get_media_prefix %}beach.jpg" alt="Image de blog">
        </div>
        <div class="col-lg text-justify">
            <h2>Mes dernières expériences</h2>
            <hr class="my-4">
            <p class="lead">
                <ul>
                    <li class="display-6">
                        Développeur IA Nancyclotep CHRU de Nancy Brabois
                    </li>
                    <li class="display-6 mt-3">
                        Commercial Transgourmet Ludres
                    </li>
                    <li class="display-6 mt-3">
                        Chargé de recouvrement Franfinance Nancy
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>


{% endblock %}
