{% extends 'navbar_footer.html' %}

{% block titre %}Contact{% endblock %}

{% block contenu %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-4">
            <h1>Contactez moi</h1>
            <form action="#" class="col-3" method="POST">
                <div class="col-12 mt-4 mb-4">
                    {% csrf_token %}
                    {{ form }}
                    <div class="col-12 mt-3">
                        <button class="btn btn-danger" type="submit">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}