{% extends 'navbar_footer.html' %}



{% block titre %}Contact{% endblock %}
{% load static %}
{% block contenu %}

<div class="container d-flex align-items-center justify-content-center" style="height: 850px">
    <div class="alert alert-dismissible alert-warning text-center">
        <h4 class="alert-heading">Vous avez réussi!</h4>
        <p class="mb-0">Votre email est envoyé <a href="#" class="alert-link">avec succès</a>.</p>
        <button type="button" href="#" class="btn btn-outline-dark mt-4">Home</button>
    </div>
</div>

{% endblock %}