{% extends 'navbar_footer.html' %}

{% block contenu %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-4">
            <h1>Nouvel exp</h1>
            <hr class="my-4">
            <form action="{% url 'experiences:creer' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-danger" type="submit">Créer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}