{% extends 'navbar_footer.html' %}

{% block contenu %}
<div class="container d-flex align-items-center justify-content-center" style="height: 850px">
    <div class="card">
        <div class="row">
            <h5 class="card-header col-6 text-center text-info fs-2">{{ experience.metier }}</h5>
            <h5 class="card-header col-6 text-center text-warning fs-2">{{ experience.societe }}</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center mb-4 fw-bold text-decoration-underline">Du {{experience.date_start}} au {{experience.date_end}}</h5>
            <p class="card-text fs-3">{{experience.contenu}}</p>
            <a class="btn btn btn-outline-light" href="{% url 'experiences:experiences' %}" >Retour expériences</a>
        </div>
    </div>
</div>
{% endblock %}