{% extends 'navbar_footer.html' %}

{% block metier %}Mes expériences{% endblock %}

{% block contenu %}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 text-lg-start">
            <h1>Mes experiences</h1>
        </div>
        <div class="col-lg-6 text-lg-end">
            <a class="btn btn-black" href="{% url 'experiences:creer' %}">Ajouter une nouvelle expérience</a>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="container"  style="width: 50%">
    {% for experience in experiences %}
    <div class="card mb-4">
        <div class="row">
            <h5 class="card-header col-6 text-center text-info fs-2">{{ experience.metier }}</h5>
            <h5 class="card-header col-6 text-center text-info fs-2">{{ experience.societe }}</h5>
        </div>
        <div class="card-body text-truncate">
            <h5 class="card-title text-center mb-4 fw-bold text-decoration-underline">Du {{experience.date_start}} au {{experience.date_end}}</h5>
            <p class="card-text fs-3">{{experience.contenu}}</p>
            <a class="btn btn-primary" href="{% url 'experiences:experience' slug=experience.slug %}">...</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

