{% extends 'navbar_footer.html' %}

{% load static %}

{% block titre %} Présentation {% endblock %}

{% block contenu %}

<div class="container d-flex-fluid justify-content-center  align-items-center  mt-5" style="height: 700px">
    <div class="row">
        <ul class="list-group col-6">
            <li class="list-group-item text-center fs-3">Formations</li>
            <li class="list-group-item list-group-item-primary">
                <p class="text-decoration-underline fs-4">Titre RNCP Développeur IA :</p>
                <p class="fw-bold fs-5">Ecole IA Microsoft by Simplon</p>
            </li>
            <li class="list-group-item list-group-item-secondary">
                <p class="text-decoration-underline fs-4">Licence en logistique et commercialisation des boissons</p>
                <p class="fw-bold fs-5">DISTECH, ICN Nancy</p>
            </li>
            <li class="list-group-item list-group-item-success">
                <p class="text-decoration-underline fs-4">BTS électronique</p>
                <p class="fw-bold fs-5">ESR Nancy</p>
            </li>
            <li class="list-group-item list-group-item-danger">
                <p class="text-decoration-underline fs-4">Bac électronique</p>
                <p class="fw-bold fs-5">Loritz Nancy</p>
            </li>

        </ul>
        <ul class="list-group col-6 text-center">
            <li class="list-group-item text-center">Année obtention diplôme</li>
            <li class="list-group-item list-group-item-primary" style="height: 80px">2021</li>
            <li class="list-group-item list-group-item-secondary" style="height: 83px">2004</li>
            <li class="list-group-item list-group-item-success" style="height: 80px">2001</li>
            <li class="list-group-item list-group-item-danger" style="height: 81px">1998</li>
        </ul>
    </div>

</div>


{% endblock %}
